*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:40px 80px;

    background:
        linear-gradient(rgba(5,20,40,0.65), rgba(5,20,40,0.65)),
        url("images/titanic.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.dashboard-btn{
    position:absolute;
    top:20px;
    left:20px;
}

.dashboard-btn a{
    text-decoration:none;
    color:white;
    background:#0b3d91;
    padding:12px 22px;
    border-radius:25px;
    font-weight:bold;
}

.container{
    width:100%;
    max-width:700px;
    padding:40px;
    border-radius:20px;

    background:rgba(255,255,255,0.92);
    backdrop-filter:blur(12px);

    box-shadow:0 20px 45px rgba(0,0,0,.35);
}

.title-box{
    text-align:center;
    margin-bottom:30px;
}

.title-box h1{
    color:#0b3d91;
    margin-bottom:10px;
}

.title-box p{
    color:#555;
}

.form-row{
    display:flex;
    align-items:center;
    margin-bottom:18px;
}

.form-row label{
    width:180px;
    font-weight:600;
    color:#222;
}

.form-row input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

.form-row input:focus{
    border-color:#0b3d91;
    box-shadow:0 0 10px rgba(11,61,145,.2);
}

.btn-box{
    text-align:center;
    margin-top:30px;
}

button{
    width:250px;
    padding:14px;
    border:none;
    border-radius:30px;
    background:#d4af37;
    color:#0b3d91;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#c79c18;
}

.result{
    margin-top:25px;
    text-align:center;
    background:#e8f0ff;
    color:#0b3d91;
    padding:15px;
    border-radius:12px;
    font-weight:bold;
}
.left-content{
    position:absolute;
    left:70px;
    width:40%;
    color:white;
}

.left-content h1{
    font-size:65px;
    font-weight:800;
    letter-spacing:3px;
}

.left-content h3{
    color:#FFD700;
    margin:20px 0;
    font-size:30px;
}

.left-content p{
    font-size:20px;
    line-height:1.8;
}
.info-box{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.card{
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:15px;
    padding:20px;
    margin-top:20px;
    color:white;
}

.card h4{
    color:#FFD700;
    margin-bottom:8px;
}
.card p{
    margin:0;
    font-size:16px;
}

@media(max-width:768px){

    .container{
        max-width:100%;
    }

    .form-row{
        flex-direction:column;
        align-items:flex-start;
    }

    .form-row label{
        width:100%;
        margin-bottom:8px;
    }

    .form-row input{
        width:100%;
    }

    body{
        justify-content:center;
        padding:20px;
    }
}